p{
    font-family: Montserrat ;
    border-left: red solid 5px ;
    padding-left: 10px ;
    margin-left: 10px ;
    line-height: 2.0em;
}

p:hover {
border-left: rgb(133, 133, 247) solid 7px ;
font-family: cursive;
font-size: 20px ;
}
h1 {
    text-align: center;
    font-family: serif;
}
 code {
     color: rgb(92, 4, 255) ;
     font-size: 15px ;
 }
 strong {
font-size: 25px ;


 }